<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">

        {{>header}}
        
            <div class="result-text">
                <p>Here we can explain to the {{target}} the functionalities of the website</p>

                <p>It's crap. Okay, bye!</p>

            </div>

    </div>

    {{>footer}}
</body>

</html>